body {
    font-family: 'Comic Sans MS', 'Arial', sans-serif; /* Fonte mais descontraída */
    background-color: #ffebf0; /* Cor de fundo suave e acolhedora */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 16px; /* Bordas mais arredondadas */
    border: 2px solid #ffb6c1; /* Bordas de cor suave */
}

.profile {
    text-align: center;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid #ffb6c1; /* Borda de cor suave em torno da imagem */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em; /* Fonte um pouco maior para destaque */
    margin-bottom: 10px;
    color: #ff69b4; /* Cor de fonte vibrante */
}

.description {
    font-size: 1.2em;
    color: #ff1493; /* Cor de fonte suave */
    background-color: #fff0f5; /* Fundo suave para a descrição */
    padding: 10px; /* Espaçamento ao redor do texto */
    border-radius: 10px; /* Bordas arredondadas */
    display: inline-block; /* Ajuste do bloco de descrição */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
